<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li>
                <a ng-click="check(1,'catalogClient.keyword')">KeyWord Searching<span class="fa arrow"></span></a>
            </li>
            <li>
                <a ng-click="check(2,'catalogClient.cart')">View Cart<span class="fa arrow"></span></a>
            </li>
            <li>
                <a ng-click="check(3,'catalogClient.orders')">Orders<span class="fa arrow"></span></a>
            </li>
        </ul>
    </div>

    <div class="bottom-left">
        <p class="bg-primary">Email:{{email}}</p>
    </div>

    <div class="bottom-left" ng-show="showProductTypeBox" style="margin-left: 15px;margin-right:3px">
        <strong style="margin-left: inherit;">Filter Search</strong>
        <ul class="nav in" id="productType" >
            <li style="display:inline;line-height: normal;" ng-repeat="productType in productTypes">
                <a style="font-size:13px" ng-click="productTypeSelected(productType)">{{productType.name}}</a>
            </li>
            <!--a ng-repeat="productType in productTypes" ng-click="productTypeSelected(productType)">{{productType.name}}</a-->
        </ul>
        <!--select ng-model="productType" id="productType" class="form-control" ng-options="pt.name for pt in productTypes" ng-change="productTypeSelected(productType)">
            <option value="">Select</option>
        </select-->
    </div>

</div>





